@import "../../../variables.scss";

.input-container-tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  width: inherit;
  .option {
    flex-grow: 1;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-family: $lato-regular;
    transition: all 0.3s ease-out;
    &.active {
      background: #1daded;
      color: #fff;
    }
    margin: 2px;
  }
}
