.wrapper {
  background-color: #202025;
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-light: ghostwhite;
  --color-brand: #1daded;
  --font-fam: "Lato", sans-serif;
  --height: 100%;
  --btn-width: 3rem;
  --bez: cubic-bezier(0, 0, 0.5, 1.5);
}

#searchForm {
  position: relative;
  width: 100%;
  background: var(--color-brand);
  border-radius: var(--rad);
  height: 2.5rem;
  margin-right: 10px;
  input,
  button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-light);
    font-size: 1rem;
  }
  input[type="search"] {
    color: black;
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.profileCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 1rem;
  width: 80%;
  min-width: 350px;
  height: 110px;
  overflow: hidden;
  background-color: rgba(ghostwhite, 0.35);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 25px 10px 20px;
  margin-top: 20px;
  p {
    margin: 0;
  }
  .profileCardContent {
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 0px 10px;
    li {
      background-color: #1daded;
      border-radius: 1rem;
      width: fit-content;
      height: fit-content;
      list-style-type: none;
      padding: 3px 12px;
      margin-top: 5px;
    }
  }
  .roleTags {
    width: 30%;
    min-width: 200px;
    li {
      display: inline-block;
      margin-right: 5px;
    }
  }

  .skillsTags {
    width: 50%;
    li {
      background-color: aquamarine;
      color: #202025;
      display: inline-block;
      margin-right: 5px;
    }
  }

  .improveTags {
    width: 50%;
    li {
      background-color: crimson;
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.catagories,
.connectAndMentorBtn,
.interestsSection {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  .space {
    margin: 0 20px;
  }
}

.interestsSection{
  margin-top: 20px;
}

.profileCard:hover,
.profileCard:focus {
  transform: scale(1.025);
  transition-duration: 0.5s;
  background-color: #202025;
  color: white;
  height: fit-content;
}

.filter {
  width: 100%;
  background-color: #1daded;
  // height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 50px;
}

.filterOption {
  flex-grow: 1;
  select {
    border-radius: 1rem;
    padding: 5px;
    outline: none;
    width: 60%;
    min-width: 100px;
  }
}
