body {
  margin-top: 20px;
  background: #f3f3f3;
}

.wrapper {
  background-color: #202025;
}

.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  width: 40%;
  height: 100%;
}

.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 100%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
  text-align: center;
}

.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}

.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}

.profile-tab label {
  font-weight: 600;
}

.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}

#file-btn {
  display: none;
}

.upload-btn {
  padding: 10px;
  border-radius: 1rem;
  border: 1px dashed #bbb;
  text-align: center;
  background-color: #ddd;
  cursor: pointer;
}
