body {
  margin: auto;
  background: #f3f3f3;
  vertical-align: auto;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: center;
  vertical-align: auto;
  min-width: 100px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}