@import "../../../variables.scss";

.input-button-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 1px 4px rgba(#1daded, 0.15);
  background-color: #1daded;
  height: 40px;
  padding: 0px 25px;
  border-radius: 6px;
  cursor: pointer;

  color: #fff;
  font-size: 14px;
  font-family: $lato-regular;
  display: flex;
  flex: 1;
  margin: 10px 0px;

  &.raised-button-disabled {
    background-color: rgba(#1daded, 0.3);
    pointer-events: none;
  }
}
