.faqHeader {
  text-align: center;
}

.supportTicket {
  text-align: center;
}

.help {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 5px 60px;
  border-radius: 5px;
  margin: 5px 0px;
  align-self: center;
}

.mainContent {
  width: 60%;
  margin: 0 auto;
}

.helpButton {
    width: 20%;
    margin-top: 100px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}