.login {
  position: relative;
  border-radius: 1rem;
  width: 6.2%;
  margin: 0 auto;
  align-items: center;
  padding: 10px 10px 10px 10px;
  margin-top: 0px;
}

.faqHeader {
  text-align: center;
}

.supportTicket {
  text-align: center;
}

.help {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 5px 60px;
  border-radius: 5px;
  margin: 5px 0px;
  align-self: center;
}

.mainContent{
  width: 60%;
  margin: 0 auto;
}