.containerChat{
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
}
.navbarTop{
    width: 40%;
    height: 100%;
    background-color: green;
    display: flex;
}
.conversationsMenuLeft{
    width: 40%;
    height: 100%;
    background-color: orange;
    display: flex;
}
.main{
    width: 40%;
    height: 100%;
    background-color: beige;
    display: flex;
}
.barBottom{
    width: 40%;
    height: 100%;
    background-color: blue;
    display: flex;
}