//$spaceLeft : 10%;

.containerChat{
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
}
.navbarTop{
    background-color: #202025;
    padding-top: 10px;
    padding-bottom: 5npmpx;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.conversationsMenuLeft{
    width: 19rem;
    height: 1505%;
    background-color:rgb(209, 206, 206);
    position: absolute;
    bottom: 5rem;
    top: 3.1rem;
    left: 7%;
    h6{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        //font-weight: bold;
        padding: 5%;
    }
}
.main{
    width: 50%;
    height: 40rem;
    background-color: f3f3f3;
    position: absolute;
    //left: 19rem;

}
.barBottom{
    width: 50%;
    height: 10rem;
    position: absolute;
    //left: 19rem;
    top:40.1rem;
    justify-content: center;
    .textArea{
        width: 90%;
    }
}
.buttonSend{
    width:5rem;
}

footer{
    width: 99rem;
    height: 3rem;
    background-color: white;
    position: absolute;
    top: 52rem;
}

.containerConversation{
    background-color: white;
    height: 5rem;
    position: relative;
    img{
        height:35%;
        width:35%;
        position: relative;
        top: 1.5rem;
        left: 0;
    }
    p{
        margin-left: 45%;
    }
}