.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  width: 40%;
  height: 100%;
}

.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
}

.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}

.profile-tab label {
  font-weight: 600;
}

.profile-tab p {
  font-weight: 600;
  color: #1daded;
}

#file-btn {
  display: none;
}

.upload-btn {
  padding: 10px;
  border-radius: 1rem;
  border: 1px dashed #bbb;
  text-align: center;
  background-color: #ddd;
  cursor: pointer;
}

.main-info,
.top-bar,
.intro,
.skills,
.connectionsAndMentorships,
.FAQ {
  background-color: rgba(grey, 0.13);
  padding: 20px;
  border: 2px solid white;
  border-radius: 1rem;
  box-shadow: 0px 1px 4px rgba(0, 52, 112, 0.15) inset;
}

.connectionsAndMentorships {
  display: flex;
  flex-wrap: wrap;
}

.editMentors,
.editConnections,
.editMentees {
  flex-grow: 40;
  min-width: 33%;
  .editTitle {
    text-align: center;
  }
}

.scrollableConnections,
.scrollableMentors,
.scrollableMentees {
  overflow-y: scroll;
  height: 70%;
  .profileCard {
    min-width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    .profileCardContent {
      h4 {
        font-size: 70%;
      }
      h6,
      p {
        font-size: 50%;
        margin: 0 auto;
      }
    }
  }
}

.main-info label {
  font-size: 14px;
}

.top-bar {
  min-height: 50%;
}

.form-group,
.profile-head,
.profile-work {
  width: 80%;
  margin: 0 auto;
}

.msg img {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
