.wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: center;
  min-width: 100px;
  padding-top: 20px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.searchbar {
  position: relative;
  vertical-align: middle;
}

.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

.search-icon {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 14px;
}

.search:hover,
.search:focus {
  border: 1px solid #009688;
  background-color: white;
}

.profile {
  position: relative;
  border-radius: 1rem;
  width: 80%;
  background-color: rgba($color: #85d1f0, $alpha: 0.35);
  margin: 0 auto;
  align-items: center;
  padding: 10px 25px 10px 20px;
  margin-top: 20px;
}

.main-info,
.top-bar {
  background-color: rgba($color: grey, $alpha: 0.13);
  padding: 10px;
  border: 2px solid white;
  border-radius: 1rem;
}

.main-info {
  margin: 5px 0;
  .label {
    font-size: 14px;
  }
}

.top-bar {
  min-height: 50%;
}

a {
  text-decoration: none;
}

.form-group {
  width: 80%;
  margin: 0 auto;
}